body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #23343e;
}

#smartLogin {
    width: 50%;
}

#successfulPage {
    border-radius: 10px;
}


a {
    text-decoration: none;
}